@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
  --fclight: #f8f8f8;
  --sidebarColor: #525ca3;
  --cardAccent: #ffde7f;
  --fcdark: #0b082b;
  --ff1: 'Nunito';
  --shadow: #0b082b33;
  --fontAccent: #1f1f1fbf;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--fcdark);
}

ul,
li {
  list-style-type: none;
}

html,
body {
  font-family: var(--ff1);
  background-color: var(--fclight);
  height: 100dvh;
}

.profile-Img {
  width: 50px;
  height: 50px;
  border-radius: 10em;
}

.main-Container {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 1fr 1fr;
  height: 100%;
  width: 100%;
}

.side-Bar {
  grid-row: 1/3;
  background-color: var(--sidebarColor);
  color: var(--fclight);
  padding: 1.5em;
  display: grid;
  grid-template-rows: 120px 1fr 3fr;
}

.side-Header {
  display: grid;
  grid-template-columns: 46px 1fr;
  align-items: start;
  justify-items: start;
}

.side-Header img:hover {
  cursor: pointer;
}

.side-Bar h1 {
  line-height: 1;
}

.side-Bar h1:hover {
  cursor: pointer;
  opacity: 0.6;
}

.side-Section1 {
  margin-bottom: 4em;
}

.side-Bar li {
  display: grid;
  grid-template-columns: 46px 1fr;
  margin-bottom: 1em;
  align-items: center;
  font-size: 1em;
}

.side-Bar span {
  font-weight: bold;
  font-size: 1.6em;
  cursor: pointer;
  color: var(--fclight);
}

.side-Bar span:hover {
  opacity: 0.6;
}

.top-Container {
  grid-column: 2/3;
  grid-row: 1/2;
  padding: 1em 2em;
  box-shadow: 2px 4px 4px 1px var(--shadow);
  display: grid;
}

.top-Bar {
  display: grid;
  grid-template-columns: 1fr 500px;
  grid-template-rows: 50px 70px;
  row-gap: 2em;
  column-gap: 1em;
}

.top-Container .search-Bar {
  grid-row: 1/2;
  display: grid;
  grid-template-columns: 40px 1fr;
  align-items: center;
  padding: 0 1em;
}

.top-Container input {
  height: 40px;
  border-radius: 2em;
  border: none;
  padding: 1em;
  box-shadow: 2px 4px 4px 1px var(--shadow);
}

.top-Container input:focus {
  outline: none;
  border: 2px solid var(--sidebarColor);
}

.top-Container .user-Heading {
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 100px 1fr;
  padding: 0 1em;
  align-items: center;
  font-weight: bold;
}

.user-Heading img {
  width: 80px;
  height: 80px;
}

.user-Heading .name {
  font-size: 1.6em;
}

.top-Container .user-Notif {
  grid-row: 1/2;
  grid-column: 2/3;
  display: grid;
  grid-template-columns: 80px 100px 150px;
  align-items: center;
  margin-left: 8em;
}

.user-Notif p {
  font-weight: bold;
  font-size: 1.2em;
}

.user-Notif img:hover {
  cursor: pointer;
}

.top-Container .top-Nav {
  grid-column: 2/3;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 1em;
  align-items: center;
}

.top-Nav button {
  width: 80%;
  border: none;
  border-radius: 2em;
  padding: 1em 0em;
  background-color: var(--sidebarColor);
  color: var(--fclight);
  font-weight: bold;
  font-size: 1em;
}

.top-Nav button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.main-Section {
  grid-row: 2/3;
  padding: 1em 2.4em 2em 1em;
  grid-column: 2/3;
  row-gap: 1em;
  display: grid;
  grid-template-columns: minmax(800px, 1200px) minmax(300px, 400px);
  grid-template-rows: minmax(200px, 1fr) minmax(200px, 1fr);
}

.main-Section .projects {
  grid-row: 1/3;
  padding-right: 2em;
  display: grid;
  grid-template-rows: 40px 1fr;
}

.projects .project-Cards {
  display: grid;
  padding: 1em 0;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 15px 15px;
}

.projects .card {
  padding: 1em 1em 2em 1em;
  border-radius: 0.4em;
  width: 100%;
  border-left: 10px solid var(--cardAccent);
  box-shadow: 4px 4px 4px 1px var(--shadow);

  display: grid;
  grid-template-rows: 1fr 40px;
  grid-template-columns: 1fr 150px;
}

.projects h3 {
  font-size: 1.2em;
}

.projects .card-Info {
  grid-column: 1/3;

  & p {
    color: var(--fontAccent);
  }
}

.projects .card-Icons {
  grid-column: 2/3;
  justify-items: center;
  align-items: end;
  display: grid;
  grid-auto-flow: column;
  cursor: pointer;
}

.projects .card-Icons li:hover {
  opacity: 0.6;
}

.main-Section .announcements {
  grid-column: 2/3;
  display: grid;
  grid-template-rows: 40px 1fr;
}

.main-Section .articles {
  display: grid;
  box-shadow: 4px 4px 4px 1px var(--shadow);
  border-radius: 0.4em;
  align-items: center;
  justify-items: center;
}

.articles .article {
  padding: 1em;

  & p {
    font-size: 0.9em;
    color: var(--fontAccent);
  }
}

.special-Border {
  border-bottom: 1px solid var(--shadow);
}

.main-Section .trending {
  grid-row: 2/3;
  display: grid;
  grid-template-rows: 40px 1fr;
  padding-bottom: 1em;
}

.trending .trending-Users {
  padding: 1em;
  box-shadow: 4px 4px 4px 1px var(--shadow);
  border-radius: 0.4em;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  align-items: center;
}

.trending .users {
  display: grid;
  grid-template-columns: 80px 1fr;
  grid-template-rows: 20px 20px;
  align-items: center;
}

.users p {
  color: var(--fontAccent);
}

.users img {
  grid-row: 1/3;
}

.users img:hover {
  cursor: pointer;
}

.users .at-Tag {
  font-weight: 600;
  color: var(--fcdark);
}

.users p:hover {
  opacity: 0.8;
  cursor: pointer;
}

.users .at-Tag:hover {
  opacity: 1;
}
